<div class="text-links-external">
  <a href="/">Home</a>
  <a href="javascript:history.back()">Back</a>
</div>
<h1 class="page-title">{{{card.name}}}</h1>
<ul>
  <li>Card type: {{{card.type}}}</li>
  <li>Card rarity: {{{card.rarity}}}</li>
  <li>Card cost: {{{card.cost}}}</li>
  <li>Card text: {{{card.text}}}</li>
  <li>Card flavor: {{{card.flavor}}}</li>
  <li>Card set: {{{card.cardSet}}}</li>
  <li>Card class: {{{card.playerClass}}}</li>
</ul>
<img src="{{{card.imgGold}}}" </body> </html> <p>Created by Shane Vann-Shirley, 2019</p>