<a href="/">
  <h1 class="top-content"><img id="hearthstone-logo" src="/images/hearthstonelogo.png"> Card
    API</h1>
</a>
<div class="text-links-external">
  <a href="javascript:history.back()">Back</a>
</div>
<h1 class="page-title">{{{card.name}}}</h1>
<p>{{{thisErr}}}</p>
<ul>
  <li>Card type: {{{card.type}}}</li>
  <li>Card rarity: {{{card.rarity}}}</li>
  <li>Card cost: {{{card.cost}}}</li>
  <li>Card text: {{{card.text}}}</li>
  <li>Card flavor: {{{card.flavor}}}</li>
  <li>Card set: {{{card.cardSet}}}</li>
  <li>Card class: {{{card.playerClass}}}</li>
</ul>
<img src="{{{card.imgGold}}}" class="card-image" /> </body>

</html>
<p class="name-paragraph">Created by Shane Vann-Shirley, 2019</p>