<a href="javascript:history.back()">Go Back</a>
<a href="/">Home</a>
<h1 style="font-family: Arial, Helvetica, sans-serif">{{{card.name}}}</h1>
<ul>
  <li>{{{card.cardSet}}}</li>
  <li>Card type: {{{card.type}}}</li>
  <li>Card rarity: {{{card.rarity}}}</li>
  <li>Card cost: {{{card.cost}}}</li>
  <li>Card text: {{{card.text}}}</li>
  <li>Card flavor: {{{card.flavor}}}</li>
  <li>{{{card.playerClass}}}</li>
</ul>
<img src="{{{card.imgGold}}}" </body> </html>